body {
    margin: 0;
    background-color: black;
    overflow-x: hidden;
    color: white;
 }

.credits-banner {
  background-color: rgb(12, 12, 12);
  padding: 30px;
}

.credits-logo {
  width: 25%;
}

.credits-title {
    padding: 50px 50px 10px 50px;
    color: white;
    margin:0;
    font-size: 50px;
    font-family: Sequel;
    font-weight: normal !important;
    animation: slide-up 1s forwards;
    cursor:default;
}

.credits-paragraph {
    padding: 0px 0px 20px 50px;
    color: white;
    margin:0;
    font-size: 40px;
    font-family: SequelLight;
    font-weight: normal !important;
    animation: slide-up 1s forwards;
    cursor:default;
}

.credits-paragraph span.title-credits {
  font-weight: 800;
  background-color: white;
  color: black;
  padding: 5px;
  margin-bottom: 10px;
  margin-top: 30px;
  display: inline-block;
}

.credits-paragraph span.email-credits {
  font-size: 25px;
}

.credits-paragraph span.email-credits a {
  margin-left: 12px;
  text-decoration: underline;
  cursor: pointer;
  color: white;
}

.credits-paragraph span.email-credits a:visited {
  color: grey;
}

.credits-paragraph span.email-credits a:link,
.credits-paragraph span.email-credits a:hover,
.credits-paragraph span.email-credits a:active {
  color: white;
}

