@font-face {
    font-family: SequelBold;
    src: url(../assets/fonts/Sequel/SequelSansBoldDisp.woff2);
}

@font-face {
    font-family: SequelSemiBold;
    src: url(../assets/fonts/Sequel/SequelSansSemiBoldDisp.woff2);
}

@font-face {
    font-family: SequelMedium;
    src: url(../assets/fonts/Sequel/SequelSansMediumDisp.woff2);
}

@font-face {
    font-family: SequelLight;
    src: url(../assets/fonts/Sequel/SequelSansLightDisp.woff2);
}



