@font-face {
    font-family: Sequel;
    src: url(../assets/fonts/Sequel/SequelSansBoldDisp.woff2);
}

@font-face {
    font-family: Founders;
    src: url(../assets/fonts/Founders/FoundersGroteskCondensedBold.woff2);
}