@media screen and (max-width: 1280px){
  .hero-btn {
    min-width: 20rem;
    width: fit-content;
    gap: 2rem;
  }
}

@media screen and (max-width: 1024px){
  html {
    font-size: 14px;
  }
  /* HERE GOES SPECIFICATIONS FOR HAMBURGER MENU */
  #h-menu-div {
    display: flex;
  }
  
  nav {
    padding: 1rem 7.5vw;
    align-items: flex-start;
  }

  #nav-logo-cnt {
    margin: 0;
    width: 2.875rem;
  }

  nav ul {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: flex-end;
  }

  nav ul li:not(:nth-child(1)) {
    display: none;
    margin-right: 0.75rem;
  }
  /* ------------ end hamburger menu ----------- */

  /* ----------- HERO ----------- */
  #hero-section {
    height: calc(100vh - 4.875rem); /* 78px -> the height of the navbar */
    justify-content: space-evenly;
  }

  #top-title-container {
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
  }

  .hero-btn {
    width: 100%;
  }

  #bottom-title-container {
    margin: 0;
  }

  /* ----------- TOPICS ----------- */
  #boldh-def {
    gap: 8rem;
  }

  /* ---------- DIVISIONS --------- */
  .division-text-container{
    padding-right: 7.5vw;
  }
}


@media screen and (max-width: 640px){

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  /* ---------- HERO --------- */
  #hero-section {
    height: calc(50vh + 10rem);
  }

  .hero-btn svg {
    transform: rotate(45deg);
  }

  #top-logo {
    width: 6.75rem;
    height: 6.75rem;
  }

  #top-title {
    font-size: 2.15rem;
  }

  /* ---------- TOPICS --------- */
  #boldh-topics-section {
    gap: 10rem;
    padding-top: 12rem;
    padding-bottom: 12rem;
  }

  #boldh-def {
    flex-direction: column;
    padding: 0 7.5vw;
    gap: 10rem;
  }

  #logo-rotate {
    width: 90%;
    height: 90%;
  }

  .rt-title-cnt {
    align-items: center;
  }

  .rt-content p {
    padding: 0;
  }

  /* ----------- DIVISIONS ----------- */
  .division-text-container {
    padding-left: 0;
  }

  #division-logo-scroll {
    width: 40%;
  }
  #division-text-scroll {
    width: 60%;
  }


  /* ------- CARDS ------ */
  .card-arrow-cnt {
    height: 2.5rem;
  }

  /* ------- MODAL ------ */
  #modal-title {
    font-size: 2rem;
  }

  #modal-sbt {
    font-family: SequelMedium;
    font-size: 1.2rem;
  }

  #modal-content {
    padding: 0 10vw 4rem 10vw;
  }


  /* -------- CREDITS ------- */

  #credits-logo {
    width: 40%;
  }

  #main-credits ul {
    gap: 1.5rem;
  }

}


@media screen and (max-width: 480px){

  h4 {
    font-size: 1.5rem;
  }
  /* --------- HERO --------- */
  #dh-mib {
    gap: 1.5rem;
  }

  #top-logo {
    width: 6.5rem;
    height: 6.5rem;
  }

  #top-title {
    font-size: 2rem;
  }

  .hero-btn {
    gap: 0.5rem;
  }

  /* --------- CARD --------- */
  .card-text {
    font-size: 1.2rem;
  }

  /* --------- DIVISION --------- */
  .division-logo {
    width: 80%;
  }

  #units-section {
    padding: 8rem 0rem;
    margin-bottom: 8rem;
  }

  .division-text-container, .division-logo-container {
    min-height: 80vh;
  }

    /* ------- MODAL ------ */
    #expansion-container {
      height: 97.5vh;
    }

    #modal-close-container {
      padding: 1.5rem 0.75rem;
    }

    #modal-link-group .dark-btn {
      flex-grow: 1;
      min-width: fit-content;
    }

    /* ----- FOOTER and CREDITS ------ */

    .contacts-box .contacts-body {
      font-size: 1.25rem;
    }

    .credits-title {
      font-size: 4rem !important;
    }
    .credit-line p {
      font-size: 2rem !important;
    }
    .credit-line a {
      font-size: 1.5rem !important;
    }
    .credit-line .boldh-btn-arrow-cnt {
      height: 1.25rem !important;
    }
}

@media screen and (max-width: 400px){
  /* --------- HERO --------- */
  #dh-mib {
    gap: 0.5rem;
  }

  /*   NEWS AND EVENTS */
  .cb {
    min-width: 21rem;
    max-width: 21rem;
  }
}