:root {
  --BolDH-Black-Black: #131313;
  --BolDH-Black-Dark1: #212121;
  --BolDH-Black-Dark2: #252525;
  --BolDH-Black-Dark3: #272727;
  --BolDH-White-White: #F2F2F2;
  --BolDH-White-Pure: #FFFFFF;
  --BolDH-Accent-1: #32C3A0;
  --BolDH-Accent-2: #DD5423;
  --BolDH-Text-Grey: rgba(242, 242, 242, 0.76);
}

html {
  font-size: 16px;
}

html * {
  box-sizing: border-box;
}

h1, h2, h3, h4, .subtitle, p, a {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--BolDH-Black-Black, #131313);
}


/* TYPOGRAPHY */

h2 {
  /* BolDH/H2 */
  font-family: SequelMedium, sans-serif;
  font-size: 6rem;
  line-height: 110%; /* 6.6rem */
  color: var(--BolDH-White-White, #F2F2F2);
}

h3 {
  /* BolDH/H3 */
  font-family: SequelBold, sans-serif;
  font-size: 3rem;
  line-height: 110%; /* 3.3rem */
  color: var(--BolDH-White-White, #F2F2F2);
}

h4 {
  /* BolDH/H4 */
  font-family: SequelBold, sans-serif;
  font-size: 2rem;
  line-height: 110%; /* 2.2rem */
  letter-spacing: 0.04rem;
  color: var(--BolDH-White-White, #F2F2F2);
}

.subtitle {
  /* BolDH/Subtitle */
  font-family: SequelSemiBold, sans-serif;
  font-size: 1.5rem;
  line-height: 120%; /* 1.8rem */
  letter-spacing: 0.045rem;
  color: var(--BolDH-White-White, #F2F2F2);
}

p {
  /* BolDH/Body */
  font-family: SequelLight, sans-serif;
  font-size: 1.25rem;
  line-height: 150%; /* 1.875rem */
  letter-spacing: 0.05rem;
  color: var(--BolDH-Text-Grey, rgba(242, 242, 242, 0.76));
}




.chefcookie__box h1, .chefcookie__button {
  text-transform: lowercase!important;
  font-family: Sequel;
}

.chefcookie__box h1::first-letter, .chefcookie__button::first-letter {
  text-transform: capitalize!important;
}

.chefcookie__message p {
  font-family: SequelLight;
  line-height: 150%; 
  letter-spacing: 0.025rem;
}




header {
  position: sticky;
  top: 0;
  width: 100%;
  border-bottom: 2px solid white;
  background: var(--BolDH-Black-Black, #131313);
  z-index: 99;
}


nav {
  display: flex;
  padding: 0.5rem 5%;
  justify-content: space-between;
  align-items: center;
}

#nav-logo-cnt {
  width: 10rem;
}

#nav-logo-cnt img {
  width: 100%;
  height: auto;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2rem;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #ffffffcc;
  /* BolDH/Body - Sequel */
  font-family: Sequel;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 350;
  line-height: 100%; /* 150% 1.875rem */
  letter-spacing: 0.025rem;
  position: relative;
}

nav ul li a.active{
  color: white;
}

nav ul li a.active:before {
  position: absolute;
  content: "";
  width: 100%;
  border-bottom: 2px solid #00E1AB;
  bottom: -0.25rem;
}

nav ul li a:not(.active):before {
  position: absolute;
  content: "";
  width: 100%;
  border-bottom: 2px solid #ffffffcc;
  bottom: -0.25rem;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.4s ease-in-out;
}



#hamburger {
  position: relative;
  justify-content: space-between;
  height: 1rem;
  width: 1.5rem;
}

#hamburger div {
  transition: all ease-in-out .3s;
  height: 2px;
  width: 100%;
  background-color: white;
}

#hamburger div:nth-child(0) {
  position: absolute;
  top: -2px;
}

#hamburger div:nth-child(1) {
  position: absolute;
  top: calc(50% - 1px);
}

#hamburger div:nth-child(2) {
  position: absolute;
  top: calc(100% - 2px);
}


#h-menu-div {
  display: none;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0.375rem 0.75rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 0.5rem;
  border: 2px solid #00E1AB;
  cursor: pointer;
}

#h-menu-div p {
  color:  #F2F2F2;
  font-family: Sequel;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 425;
  line-height: 150%; /* 2.25rem */
  letter-spacing: 0.03rem;
}










.first-section {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
 }

 .second-section {
    background-color: white;
    width: 100%;
    margin: 0;
    padding: 0;
}

.third-section {
  width: 100%;
  margin: 0;
  padding: 0;
}


/* --------------- FIRST SECTION ----------------*/

.top-title-container {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-title-container {
    width: 100%;
    height: 60%;
}

.bottom-title {
    color: white;
    margin:0;
    font-size: 30vw;
    text-align: center;
    font-family: Sequel;
    font-weight: normal !important;
    animation: slide-up 1s forwards;
    cursor:default;
}

.top-title {
    color: white;
    margin:0;
    font-size: 20px;
    font-family: Founders;
    margin: 0px 20px 0px 20px;
    animation: slide-down 1.3s forwards;
    cursor:default;
}

.top-logo {
    width: 250px;
    height: 250px;
    animation: slide-rotate 1s forwards;
}

@keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: none;
    }
  }

@keyframes slide-rotate {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: rotate(90deg);
    }
  }

@keyframes slide-up {
    from {
      opacity: 0;
      transform: translateY(50px);

    }
    to {
      opacity: 1;
      transform: none;
    }
  }


/* --------------- SECOND SECTION ----------------*/

.giant-logo {
    height: auto;
    display: block;
    width: 100%;
    margin: auto;
}

.claim-paragraph {
    color: white;
    font-family: 'SequelLight';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor:default;
    padding-bottom: 100px;
    width: 30%;
    font-size: 2vw;
  }

  .claim-paragraph span {
    font-family: 'Sequel';
    letter-spacing: 1px;
  }

.claim-container {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

/* --------------- THIRD SECTION ----------------*/


.research-topics-container {
    background-color: black;
}

.research-topic {
 position: relative;
}

.research-topic-title {
    color: white;
    font-family: Sequel;
    font-size: 80px;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    cursor: default;
    padding-left: 50px;
}



.research-topic-description {
  background-color: black;
  color: white;
  padding: 30px 30px 40px 30px;
  width: 300px;
  position: absolute;
  right: 20px;
  bottom: -40px;
  display: none;
  cursor: default;
}

.research-topic-description-title {
  font-size: 23px;
  font-family: 'Sequel';
  letter-spacing: 1px;
  color: white;
  font-weight: normal;
  display: block;
  margin-bottom: 6px;
}

.research-topic-description-text {
  display: block;
  font-size: 23px;
  font-family: 'Sequel';
  letter-spacing: 1px;
  font-family: 'SequelLight';
  font-size: 17px;
  color: white;
  font-weight: normal;
}

#research-topic-description-1 {
  background-color: #6639B9;
  right: 300px;
  bottom: -80px;
}

#research-topic-description-2 {
  background-color: #7EE787;
  left: 300px;
  bottom: -50px;
}

#research-topic-description-3 {
  background-color: #FA3005;
  right: 100px;
  bottom: -50px;
}

#research-topic-description-4 {
  background-color: #6639B9;
  right: 300px;
  bottom: -50px;
}

#research-topic-description-5 {
  background-color: #7EE787;
  left: 300px;
  bottom: -50px;
}

#research-topic-description-6 {
  background-color: #FA3005;
  right: 100px;
  bottom: -50px;
}

/* --------------- FOURTH SECTION ----------------*/

.fourth-section {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: white;
  align-items: center;
  overflow-x: hidden;
  transition: all 2s;
  padding-top: 150px;
  padding-bottom: 150px;
}

.definition-container {
  width: 60%;
}

.image-container {
  width: 40%;
}

.definition-text {
  color: black;
  font-family: Sequel;
  font-size: 70px;  
  margin: 0;
  cursor: default;
  padding: 0px 100px 0px 150px;
  transition: all 2s;
}

.text-highlight {
  color: black;
  background-color: white;
  text-transform: uppercase;
}

.definition-logo {
  width: 170%;
  transform: translateX(10%); 
}


/* --------------- FIFTH SECTION ----------------*/

.fifth-section {
  width: 100%;
  margin: 0;
  padding: 0;
  align-items: center;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 60px;
  padding-top: 200px;
  transition: all 1s linear;
}

.fifth-section-inside {
  width: 100%;
  margin: 0;
  padding: 0;
  align-items: center;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 60px;
  border-radius: 800px;
}

.division-logo-container {
  width: 50%;
  justify-content: center;
  position: sticky;
  top: 50px;
  display: inline-flex;
  float: left;
}

.division-logo {
  width: 300px;
  margin-top: 200px;
  margin-bottom: 250px;
}

.division-text-container {
  width: 50%;
  display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    display: inline-flex;
    float: right;
    padding-top: 250px;
    padding-bottom: 250px;
}

.division-title {
  color: black;
  font-family: Sequel;
  font-size: 70px;  
  margin: 0;
  width: 100%;
}

.division-subtitle {
  color: grey;
  font-family: SequelLight;
  font-size: 18px;  
  margin: 0;
  width: 60%;
  margin-right:40%;
  margin-bottom: 20px;
}

.division-paragraph {
  color: black;
  font-family: SequelLight;
  font-size: 19px;  
  margin: 0;
  width: 60%;
  margin-right:40%;
}

#division-logo-0 {
  z-index: 8 !important;
}

#division-logo-1 {
  z-index: 7 !important;
}

#division-logo-2 {
  z-index: 6 !important;
}

#division-logo-3 {
  z-index: 5 !important;
}

#division-logo-4 {
  z-index: 4 !important;
}

#division-logo-5 {
  z-index: 3 !important;
}

#division-logo-6 {
  z-index: 2 !important;
  
}

.division-call-to-action {
    border-radius: 30px;
    border: 0px solid transparent;
    padding: 10px 15px 10px 15px;
    font-size: 16px;
    margin-right: 10px;
    margin-top: 30px;
    cursor: pointer;
    transition: all 1s ease;
    font-family: SequelLight;
}




/* --------------- SIXTH SECTION ----------------*/

.sixth-section {
  width: 100%;
  margin: 0;
  padding: 0;
  align-items: center;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 60px;
  padding-top: 200px;
  padding-bottom: 200px;
  transition: all 1s linear;
}

.news-container {
  width: 100%;
}

.news-title-container {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.news-subtitle {
  color: white;
  margin:0;
  font-size: 30px;
  font-family: Founders;
  font-weight: normal;
  cursor:default;
}

.news-main-title {
  color: white;
  font-family: Sequel;
  font-size: 150px;  
  margin: 0;
  width: 100%;
  font-weight: normal;
  cursor: default;
  margin-bottom: 50px;
}

.news-box-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 2rem;
  gap: 2rem;
  overflow: auto;
  padding-bottom: 2rem;
}



.card-box {
  text-decoration: none;
  transition: all .3s ease-in-out;
  cursor: pointer;

  display: flex;
  min-width: 27rem;
  max-width: 27rem;
  min-height: min-content;
  max-height: 90vh;
  padding: 2rem 1.5rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  border-radius: 0.5rem;
  border: 2px solid var(--BolDH-White-White, #F2F2F2);
  background: var(--BolDH-Black-Dark2, #252525);
}



.card-box-concluded {
  text-decoration: none;
  transition: all .3s ease-in-out;
  cursor: pointer;

  display: flex;
  min-width: 27rem;
  max-width: 27rem;
  min-height: min-content;
  max-height: 90vh;
  padding: 2rem 1.5rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  border-radius: 0.5rem;
  border: 2px solid transparent;
}





.cb:first-child {
  margin-left: 10% !important;
}


.card-box-content-a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  align-self: stretch;
  margin-bottom: 2rem;
}

.card-info-div {
  display: flex;
  align-items: flex-end;
  align-content: flex-end;
  gap: 0.75rem;
  align-self: stretch;
  flex-wrap: wrap;
}

/*
.card-type, .card-division, .card-place, .agenda-concluded, .agenda-active {
  color: white;
  font-family: SequelLight;
  font-size: 1rem;
  line-height: 150%; 
  letter-spacing: 0.02rem;
  text-transform: capitalize;
  display: flex;
  padding: 0.375rem 0.75rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid white;
}
*/


.card-type, .card-division, .card-place, .agenda-concluded, .agenda-active {
  color: white;
  font-family: Sequel;
  font-size: 1rem;
  line-height: 150%; 
  letter-spacing: 0.05rem;
  text-transform: capitalize;
  padding: 0.375rem 0.75rem;
  border-left: 2px solid white;
}




.agenda-concluded {
  border-left: 2px solid #E03800;
  font-family: Sequel;
}

.agenda-active {
  border-left: 2px solid #00E1AB;
  font-family: Sequel;
}


.card-text-div {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.card-text {
  display: -webkit-box; 
  -webkit-box-orient: vertical; 
  -webkit-line-clamp: 8; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}

.card-title {
  display: -webkit-box; 
  -webkit-box-orient: vertical; 
  -webkit-line-clamp: 4; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}

.card-title {
  align-self: stretch;
  color: white;
  font-family: SequelLight;
  font-weight: 350;
  font-size: 2rem;
  line-height: 110%; /* 2.75rem */
  padding-bottom: 4px; /*This is done since the overflow:hidden used in the previous block to hide log titles hides also parts of some lowercase letters going under the x-height line */
}

.card-text {
  align-self: stretch;
  color: rgba(255, 255, 255, 0.75);
  font-family: SequelLight;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 350;
  line-height: 150%; /* 1.875rem */
  letter-spacing: 0.025rem;
}

.card-arrow-div {
  height: 3rem;
  transition: all ease-in-out .4s;
}

.card-arrow-div svg {
  height: 100%;
  width: auto;
}



/* --------------- SEVENTH SECTION ----------------*/

.seventh-section {
  width: 100%;
  margin: 0;
  padding: 0;
  align-items: center;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 60px;
  padding-top: 200px;
  padding-bottom: 200px;
  transition: all 1s linear;
}

.agenda-container {
  width: 100%;
}

.agenda-title-container {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    padding-bottom: 50px;
    justify-content: flex-end;
}

.agenda-subtitle {
  color: white;
    margin:0;
    font-size: 30px;
    font-family: Founders;
    font-weight: normal;
    cursor:default;
}

.agenda-main-title {
  color: white;
  font-family: Sequel;
  font-size: 150px;  
  margin: 0;
  width: 100%;
  font-weight: normal;
  cursor:default;
  margin-bottom: 50px;
  text-align: right;
}

.agenda-box-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 2rem;
    gap: 2rem;
    overflow: auto;
    padding-bottom: 2rem;
}



.agenda-box {
  min-width: 400px;
  margin: 20px;
  display: inline-block;
  padding: 30px;
  transition: all 0.5s ease;
  cursor: default;
  /*cursor: pointer; */
}



.agenda-box-anchor:first-child {
  margin-left: 10% !important;
}

.agenda-division {
  color: white;
  font-family: SequelLight;
  font-size: 15px;  
  /*cursor: pointer; */
  margin: 0;
  display: inline-block;
  text-decoration: underline;
}

.agenda-type {
  color: white;
  font-family: SequelLight;
  font-size: 15px;  
  /*cursor: pointer; */
  margin: 0;
  letter-spacing: 2px;
  white-space:normal;
  border: 1px solid white;
  padding: 4px 7px 4px 7px;
  border-radius: 4px;
  margin-right: 10px;
  text-transform: uppercase;
  margin-top: 0.75rem;
}

.agenda-date {
  color: white;
  font-family: SequelLight;
  font-size: 15px;  
  /*cursor: pointer; */
  white-space:normal;
  display: inline-block;
  border: 1px solid white;
  padding: 4px 7px 4px 7px;
  border-radius: 4px;
  margin-right: 10px;
}

.agenda-title {
  color: white;
  font-family: Sequel;
  font-size: 30px;  
  /*cursor: pointer; */
  white-space:normal;
  margin: 0;
  font-weight: normal;
  padding-top: 20px;
}

.agenda-text {
  color: white;
  font-family: SequelLight;
  font-size: 20px;  
  /*cursor: pointer; */
  white-space:normal;
  margin: 0;
  margin-top: 5px;
}

.concluded {
  background-color: white;
  border-radius: 10px;
}




/* --------------- Read more MODAL ----------------*/
#modal-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.45);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
  backdrop-filter: blur(12px);
}

#expansion-container {
  position: absolute;
  bottom: 0;

  height: 95vh;
  width: 100vw;

  display: none;
  flex-direction: column;
  align-items: flex-start;

  flex-shrink: 0;

  border-radius: 1rem 1rem 0 0;
  background-color: #212121;
  z-index: 9999;
}


#modal-close-container {
  display: flex;
  padding: 3rem 3rem;
  justify-content: flex-end;
  align-items: center;
  align-self: stretch;
}

#modal-close-icon {
  cursor: pointer;
  display: inline-block;
  width: 3rem;
  height: 3rem;
}


#modal-close-icon::before, #modal-close-icon::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 3rem;
  background-color: white;
}

#modal-close-icon::before {
  transform: rotate(45deg);
}

#modal-close-icon::after {
  transform: rotate(-45deg);
}


#modal-content{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  padding: 0 10% 4rem 10%;
  scrollbar-color: white transparent;
  overflow-y: auto;
}

#modal-t-sbt-cnt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  align-self: stretch;
}

#modal-title {
  align-self: stretch;
  color: white;
  color: var(--BolDH-White-Logo-Text, #F2F2F2);
  font-family: SequelLight;
  font-size: 4rem;
  font-style: normal;
  font-weight: 350;
  line-height: 110%; 
}

#modal-sbt {
  align-self: stretch;
  color: var(--BolDH-White-Logo-Text, rgba(242, 242, 242, 0.8));
  font-family: SequelLight;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 350;
  line-height: 120%; /* 2.4rem */
  letter-spacing: 0.04rem;
}

#modal-tag-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
}

#modal-division-type-cnt {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 0.75rem;
}

.modal-tag {
  padding: 0.375rem 0.75rem;
  color: var(--BolDH-White-Logo-Text, #F2F2F2);
  font-family: SequelLight;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 350;
  line-height: 150%;
  letter-spacing: 0.025rem;
  border-left: 2px solid var(--BolDH-White-Logo-Text, #F2F2F2);
  text-transform: capitalize;
}

.modal-date-active {
  border-left: 2px solid var(--BolDH-Accent-1, #00E1AB);
  text-transform: none !important;
}

.modal-date-concluded {
  border-left: 2px solid var(--BolDH-Accent-2, #E03800);
  text-transform: none !important;
}

.bold-text {
  letter-spacing: 0.05rem;
  font-family: Sequel;
}


#tag-e-type {
  text-transform: uppercase;
}

#modal-img-cnt {
  width: 50%;
}

#modal-img-cnt img {
  width: 100%;
  height: auto;
}


#modal-main-cnt {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: 1.5rem;
}


.modal-text {
  color: rgba(242, 242, 242, 0.8);
  /* BolDH/Body - Sequel */
  font-family: SequelLight;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 350;
  line-height: 150%; /* 1.875rem */
  letter-spacing: 0.025rem;
}

#modal-link-group {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 1.5rem;
  align-self: stretch;
  flex-wrap: wrap;  
}

.boldh-a {
  display: flex;
  min-width: 25rem;
  width: fit-content;
  height: fit-content;
  padding: 0.75rem 2rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  border: 2px solid #00E1AB;
  transition: all ease-in-out .3s;
  text-decoration: none;
}

.boldh-a p {
  color: #F2F2F2;
  font-family: Sequel;
  font-size: 1rem;
  font-style: normal;
  font-weight: 425;
  line-height: 150%; /* 1.875rem */
  letter-spacing: 0.05rem;
  text-decoration: none;
}






.boldh-a-arrow-cnt {
  height: 1.5rem;
  width: auto;
}

.boldh-a-arrow-cnt svg {
  height: 100%;
  width: auto;
}

.boldh-a-download {
  text-decoration: none;
}

.boldh-a-download svg {
  transform: rotate(90deg);
}








#modal-download-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1.5rem;  
}





/* --------------- TEMPORARY HIDDEN ----------------
#sixth-section {
  display: none;
}

#seventh-section {
  display: none;
}

#news-button {
  display: none;
}

#agenda-button {
  display: none;
}

*/


/* --------------- CONTACTS SECTION ----------------*/


.contacts-section {
  width: 100%;
  margin: 0;
  padding: 0;
  align-items: center;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 300px;
  padding-top: 200px;
  transition: all 1s linear;
}

.contacts-title-container {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  padding-bottom: 50px;
  justify-content: flex-end;
}

.contacts-subtitle {
color: white;
  margin:0;
  font-size: 30px;
  font-family: Founders;
  font-weight: normal;
  cursor:default;
}

.contacts-main-title {
color: white;
font-family: Sequel;
font-size: 150px;  
margin: 0;
width: 100%;
font-weight: normal;
cursor:default;
margin-bottom: 50px;
text-align: right;
}

.contacts-title {
  font-family: SequelLight;
  font-size: 30px;
  color: white;
  font-weight: normal;
  margin: 0;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.contacts-body {
  font-family: SequelLight;
  font-size: 30px;
  color: white;
  font-weight: normal;
  margin: 0;
  cursor: pointer;
  width: 100%;
  text-align: center;
  text-align: right;
}

.credits-arrow-div {
  height: 30px;
  transition: all ease-in-out .4s;
}

.credits-arrow-div svg {
  height: 100%;
  width: auto;
}

.contacts-box {
  display: flex;
  justify-content: center;
  width: 100%;
  border-top: 2px solid white;
  padding: 30px 10px 30px 10px;
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
  transition: all ease-in-out .3s;
}


.contacts-box .credits-arrow-div svg path {
  transition: all ease-in-out .3s;
}

.contacts-box p {
  transition: all ease-in-out .3s;
}

.contacts-box:last-child {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 2px solid white;
}


/* --------------- FOOTER ----------------*/

.footer-section {
  background-color: rgb(11, 11, 11);
  margin: 0;
  display: flex;
  align-items: flex-end;
}

.footer-image-container {
  width: 50%;
  margin-right: 30px;
  padding: 30px;
}



.footer-copy-container p, .footer-copy-container a{
  color:white;
  font-size: 1.25rem;
  line-height: 150%;
  letter-spacing: 0.025rem;
  font-family: SequelLight;
  font-weight: normal !important;
  padding-bottom: 50px;
}

.footer-copy-container a {
  text-decoration: underline 2px #00E1AB;
  cursor: pointer;
  transition: all ease-in-out .3s;
}


.footer-copy-container img {
  margin-bottom: 0.5rem;
}



.footer-copy-container {
  background-color: rgb(12, 12, 12);
  width: 50%;
  padding: 30px;
  text-align: end;
}


@media (max-width: 600px) {
  .fourth-section {
    padding-top: 30px;
  }
  .definition-text {
    font-size: 40px;
    padding: 0px 10px 40px 30px;
    transition: all 2s;
  }
  .giant-logo {
    transform: scale(1.1) !important;
  }
}








@media screen and (max-width: 1024px){

  #h-menu-div {
    display: flex;
  }
  
  nav {
    align-items: flex-start;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: flex-end;
    
  }

  nav ul li:not(:nth-child(1)) {
    margin-right: 0.75rem;
  }
  


}



@media (hover: hover) {

  .research-topic-title:hover {
    color: black;
    background-color: white;
    position: relative;
}

  .research-topic:hover .research-topic-title {
    color: black;
    background-color: white;
    position: relative;
  }

  .research-topic:hover .research-topic-description {
    display: block;
  }

  .division-call-to-action:hover {
    border: 20px solid black;
    border-radius: 50px;
  }

  .card-box:hover {
    transition: all .3s ease-in-out;
    background-color: var(--BolDH-Black-Dark3, #272727);
    border-color: var(--BolDH-Accent-1, #00E1AB);
  }
  
  .card-box-concluded:hover {
    transition: all .3s ease-in-out;
    border-color: var(--BolDH-Accent-2, #DD5423);
  }
  
  .card-box-concluded:hover .card-arrow-div, .card-box:hover .card-arrow-div {
    margin-left: 1.2rem;
    transition: all .3s ease-in-out;
  }
  
  .agenda-box:hover {
    transform: scale(1.01);
    }
  
  .boldh-a:hover {
    transition: all ease-in-out .3s;
    padding-right: 1.5rem;
    border-color: var(--BolDH-White-White, #F2F2F2);
  }

  .footer-copy-container a:hover {
    text-decoration: none;
    color: #00E1AB;
    transition: all ease-in-out .3s;
  }

  
  nav ul li a:not(a.active):hover:before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ffffffcc;
    bottom: -0.25rem;
    transform-origin: left;
    transform:scaleX(1);
    transition: transform 0.4s ease-in-out;
  }

 

  .contacts-box:hover {
    transition: all ease-in-out .3s;
    background-color: white;
  }

  .contacts-box:hover p{
    color: #00E1AB;
    transition: all ease-in-out .3s;
  }
  
  
  .contacts-box:hover .credits-arrow-div svg path {
    stroke: #00E1AB!important;
    transition: all ease-in-out .3s;
  }
  

}

