:root {
  --BolDH-Black-Black: #131313;
  --BolDH-Black-Dark1: #212121;
  --BolDH-Black-Dark2: #252525;
  --BolDH-Black-Dark3: #272727;
  --BolDH-White-White: #F2F2F2;
  --BolDH-White-Pure: #FFFFFF;
  --BolDH-Accent-1: #32C3A0;
  --BolDH-Accent-2: #DD5423;
  --BolDH-Text-Grey: rgba(242, 242, 242, 0.76);
}

html {
  font-size: 16px;
}

html * {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, .subtitle, p, a {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--BolDH-Black-Black, #131313);
}

/* ------------- COOKIES ------------- */
.chefcookie__box h1, .chefcookie__button {
  text-transform: lowercase!important;
  font-family: SequelMedium;
}
.chefcookie__box h1 {
  margin-bottom: 0.75rem;
}

.chefcookie__box h1::first-letter, .chefcookie__button::first-letter {
  text-transform: capitalize!important;
}

.chefcookie__message p {
  font-family: SequelLight, sans-serif;
  font-size: 1rem;
  line-height: 150%; /* 1.875rem */
  letter-spacing: 0.05rem;
  color: var(--BolDH-Black-Dark3, #272727);
}

.chefcookie__button {
  font-size: 1rem;
  border: solid 2px var(--BolDH-Black-Dark3, #272727) !important;
  border-radius: 0.5rem !important;
}

/* -------------- GENERAL TYPOGRAPHY ------------------ */
h2 {
  /* BolDH/H2 */
  font-family: SequelMedium !important;
  font-size: 6rem;
  line-height: 110%; /* 6.6rem */
  color: var(--BolDH-White-White, #F2F2F2);
}

h3 {
  /* BolDH/H3 */
  font-family: SequelBold, sans-serif;
  font-size: 3rem;
  line-height: 110%; /* 3.3rem */
  color: var(--BolDH-White-White, #F2F2F2);
}

h4 {
  /* BolDH/H4 */
  font-family: SequelSemiBold, sans-serif;
  font-size: 2rem;
  line-height: 110%; /* 2.2rem */
  letter-spacing: 0.04rem;
  color: var(--BolDH-White-White, #F2F2F2);
}

.subtitle {
  /* BolDH/Subtitle */
  font-family: SequelSemiBold, sans-serif;
  font-size: 1.5rem;
  line-height: 120%; /* 1.8rem */
  letter-spacing: 0.045rem;
}

.dark-sbt {
  color: var(--BolDH-Accent-1, #32C3A0);
}

p {
  /* BolDH/Body */
  font-family: SequelLight, sans-serif;
  font-size: 1.25rem;
  line-height: 150%; /* 1.875rem */
  letter-spacing: 0.05rem;
  color: var(--BolDH-Text-Grey, rgba(242, 242, 242, 0.76));
}

.keyword {
  font-family: SequelMedium;
  color: var(--BolDH-White-White, #F2F2F2);
}

/* ------------ BUTTONS AND LINKS ------------ */
.boldh-a-inline {
  color: var(--BolDH-White-White, #F2F2F2);
  text-decoration: none;
  font-family: SequelMedium;
  position: relative;
}

.boldh-a-inline:before {
  position: absolute;
  content: "";
  width: 100%;
  border-bottom: 2px solid var(--BolDH-Accent-1, #32C3A0);
  bottom: -0.2rem;
  transform-origin: left;
  transform: scaleX(1);
  transition: transform .3s ease-in;
}

.hero-boldh-btn {
  display: flex;
  min-width: 30rem;
  width: fit-content;
  height: fit-content;
  padding: 0.75rem 2rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  border: 2px solid var(--BolDH-Accent-1, #32C3A0);
  background: var(--BolDH-Black-Black, #131313);
  transition: all ease-in .3s;
  text-decoration: none;

  color: var(--BolDH-White-White, #F2F2F2);
  font-family: SequelSemiBold;
  font-size: 1.25rem;
  line-height: 150%; /* 1.875rem */
  letter-spacing: 0.05rem;
}

.hero-boldh-btn svg {
  transition: all ease-in .3s;
}

.boldh-btn {
  /* BolDH/Buttons */
  font-family: SequelBold;
  font-size: 1rem;
  line-height: 150%; /* 1.5rem */
  letter-spacing: 0.05rem;

  display: flex;
  min-width: 25rem;
  height: fit-content;
  padding: 0.75rem 2rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  text-decoration: none;
  transition: all ease-in .3s;
  text-decoration: none;
}

.dark-boldh-btn {
  border: 2px solid var(--BolDH-Accent-1, #32C3A0);
  color: var(--BolDH-White-White, #F2F2F2);
  transition: all ease-in .3s;
}

.light-boldh-btn {
  border: 2px solid var(--BolDH-Black-Dark3, #272727);
  color: var(--BolDH-Black-Dark3, #272727);
  align-self: stretch;
  transition: all ease-in .3s;
}

.light-boldh-btn svg path {
  stroke: var(--BolDH-Black-Dark3, #272727);
  transition: all ease-in .3s;
}

.boldh-btn-arrow-cnt {
  height: 1.5rem;
  width: auto;
  transition: all ease-in .3s;
}

.boldh-btn-arrow-cnt svg {
  height: 100%;
  width: auto;
  transition: all ease-in .3s;
}

.boldh-btn-download {
  text-decoration: none;
}



/* ---------------- NAVBAR ---------------- */
header {
  position: sticky;
  top: 0;
  width: 100%;
  border-bottom: 2px solid var(--BolDH-White-White, #F2F2F2);
  background: var(--BolDH-Black-Black, #131313);
  z-index: 99;
}

nav {
  display: flex;
  padding: 0.5rem 7.5%;
  justify-content: space-between;
  align-items: center;
}

#nav-logo-cnt {
  width: 3.25rem;
  display: flex;
}

#nav-logo-cnt img {
  width: 100%;
  height: auto;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2rem;
  list-style: none;
}

nav ul li a {
  color: var(--BolDH-Text-Grey, rgba(242, 242, 242, 0.76));
  font-family: SequelSemiBold;
  font-size: 1.25rem;
  line-height: 150%; /* 1.875rem */
  letter-spacing: 0.025rem;
  text-decoration: none;
  position: relative;
}

nav ul li a.active{
  color: var(--BolDH-White-White, #F2F2F2);
}

nav ul li a.active:before {
  position: absolute;
  content: "";
  width: 100%;
  border-bottom: 2px solid var(--BolDH-Accent-1, #32C3A0);
  bottom: -0.2rem;
}

nav ul li a:not(.active):before {
  position: absolute;
  content: "";
  width: 100%;
  border-bottom: 2px solid var(--BolDH-Text-Grey, rgba(242, 242, 242, 0.76));;
  bottom: -0.2rem;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in;
}

/* HAMBURGER MENU */
#hamburger {
  position: relative;
  justify-content: space-between;
  height: 1rem;
  width: 1.5rem;
}
/* Hamburger composition */
#hamburger div {
  transition: all ease-in .3s;
  height: 2px;
  width: 100%;
  background-color: var(--BolDH-White-White, #F2F2F2);
}

#hamburger div:nth-child(0) {
  position: absolute;
  top: -2px;
}

#hamburger div:nth-child(1) {
  position: absolute;
  top: calc(50% - 1px);
}

#hamburger div:nth-child(2) {
  position: absolute;
  top: calc(100% - 2px);
}
/* End hamburger composition */
#h-menu-div {
  display: none;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0.375rem 0.75rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 0.5rem;
  border: 2px solid var(--BolDH-Accent-1, #32C3A0);
  cursor: pointer;
}

#h-menu-div p {
  color:  var(--BolDH-White-White, #F2F2F2);
  font-family: SequelSemiBold;
  font-size: 1.25rem;
  line-height: 150%; /* 1.875rem */
  letter-spacing: 0.025rem;
}


/* --------------- HERO SECTION ----------------*/
#hero-section {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  padding: 0rem 7.5%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
  border-bottom: 2px solid var(--BolDH-White-White, #F2F2F2);
}

#top-title-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-self: stretch;
}

#dh-mib {
  display: flex;
  align-items: flex-end;
  gap: 2rem;
}

#top-logo {
  display: flex;
  width: 8.25rem;
  height: 8.25rem;
  justify-content: center;
  align-items: center;
  animation: slide-rotate 1s forwards;
}

#top-title {
  color: var(--BolDH-White-White, #F2F2F2);
  font-family: SequelMedium;
  font-size: 2.5rem;
  line-height: 110%; /* 2.75rem */
  letter-spacing: 0.075rem;
}

#bottom-title-container {
  width: 100%;
  height: fit-content;
  display: flex;
  padding: 6.5rem 0;
  justify-content: center;
  align-items: center;
}

#boldh-title {
  display: none;
  color: var(--BolDH-White-White, #F2F2F2);
  text-align: center;
  font-family: Sequel;
  font-size: 26.25rem;
  line-height: 110%; /* 28.875rem */
  letter-spacing: -0.525rem;
}


#bottom-title-container svg {
  width: 100%;
  height: auto;
  animation: slide-up 1s forwards;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes slide-rotate {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: rotate(90deg);
  }
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(50px);

  }
  to {
    opacity: 1;
    transform: none;
  }
}

/* ----------- BolDH — Topics SECTION ----------- */
#boldh-topics-section {
  display: flex;
  width: 100%;
  padding-top: 16rem;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 10rem;
  padding-bottom: 16rem;
}

#logo-rotate {
  position: -webkit-sticky;
  position: sticky;
  top: 15%;
  width: 80vh;
  height: 80vh;
}

#bt-scroll {
  display: flex;
  width: 55%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 16rem;
  flex-shrink: 0;
}

#boldh-dscr {
  display: flex;
  padding-right: 7.5vw;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
  align-self: stretch;
}

.titles-cnt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  align-self: stretch;
}

.body-text-big {
  padding-right: 2rem;
  font-size: 1.5rem;
  line-height: 150%; /* 2.25rem */
  letter-spacing: 0.03rem;
}

.hl {
  width: 100%;
  height: 2px;
  background-color: var(--BolDH-Text-Grey, rgba(242, 242, 242, 0.76));
}

/* --------------- TOPICS ----------------*/
#topics-section {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.research-topic {
  display: flex;
  padding: 4rem 2rem 4rem 0rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  align-self: stretch;
  border-bottom: 2px solid var(--BolDH-White-White, #F2F2F2);
}

.rt-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
  align-self: stretch;
}

.rt-content p {
  padding-right: 7.5vw;
}

.rt-title-cnt {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-self: stretch;
}

.topic-arrow-cnt {
  width: 2.75rem;
  height: 2.75rem;
}

.topic-arrow-cnt svg {
  width: 100%;
  height: 100%;
}

/* --------------- UNITS SECTION ----------------*/
#units-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 16rem 0rem;
  justify-content: center;
  align-items: center;
  border-radius: 45rem;
  background: var(--BolDH-White-Pure, #FFFFFF);
}

.division-scroll-composition {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.division-logo-container {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
  position: sticky;
  top: 0;
}

.division-logo {
  width: 50%;
}

.division-text-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
  padding: 0 15vw 0 5rem;
}

.division-hp {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
  align-self: stretch;
}

.division-title, .division-subtitle, .division-paragraph {
  color: var(--BolDH-Black-Dark3, #272727); 
}

.division-btn-cnt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
  align-self: stretch;
}

#division-logo-1 {
  z-index: 8 !important;
}

#division-logo-2 {
  z-index: 7 !important;
}

#division-logo-3 {
  z-index: 6 !important;
}

#division-logo-4 {
  z-index: 5 !important;
}

#division-logo-5 {
  z-index: 4 !important;
}

#division-logo-6 {
  z-index: 3 !important;
}

#division-logo-7 {
  z-index: 2 !important;
}


/* --------------- NEWS & AGENDA SECTION ----------------*/
#news-section, #agenda-section {
  width: 100%;
  padding: 16rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4rem;
  align-self: stretch;
  border-bottom: 2px solid var(--BolDH-White-White, #F2F2F2);
}

#news-title-container, #agenda-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  padding-left: 7.5vw;
}

.news-box-container, .agenda-box-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 2.5rem;
  overflow: auto;
  padding-bottom: 2rem;
}

.cb:first-child {
  margin-left: 7.5vw;
}

/* ------------- CARDS ------------- */
.card-box {
  text-decoration: none;
  transition: all .3s ease-in;
  cursor: pointer;
  display: flex;
  width: 25rem;
  min-height: min-content;
  max-height: 90vh;
  padding: 2rem 1.5rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 0.5rem;
  border: 2px solid var(--BolDH-White-White, #F2F2F2);
  background: var(--BolDH-Black-Dark2, #252525);
}

.card-box-concluded {
  text-decoration: none;
  transition: all .3s ease-in;
  cursor: pointer;
  display: flex;
  width: 27rem;
  min-height: min-content;
  max-height: 90vh;
  padding: 2rem 1.5rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 0.5rem;
  border: 2px solid transparent;
}

.card-box-content-a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  align-self: stretch;
  margin-bottom: 2rem;
}

.card-info-div {
  display: flex;
  align-items: flex-end;
  align-content: flex-end;
  gap: 0.75rem;
  align-self: stretch;
  flex-wrap: wrap;
}

.card-type, .card-division, .card-place, .agenda-concluded, .agenda-active {
  color: var(--BolDH-White-White, #F2F2F2);
  font-size: 1rem;
  font-family: SequelSemiBold;
  line-height: 150%; /* 1.5rem */
  letter-spacing: 0.05rem;
  text-transform: capitalize;
  padding: 0.375rem 0.75rem;
  border-left: 2px solid var(--BolDH-White-White, #F2F2F2);
}

.agenda-concluded {
  border-left: 2px solid #E03800;
}

.agenda-active {
  border-left: 2px solid #32C3A0;
}

.card-text-div {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
}

.card-text {
  display: -webkit-box; 
  -webkit-box-orient: vertical; 
  -webkit-line-clamp: 8; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}

.card-title {
  display: -webkit-box; 
  -webkit-box-orient: vertical; 
  -webkit-line-clamp: 4; 
  overflow: hidden; 
  text-overflow: ellipsis;
  padding-bottom: 4px;
}

.card-arrow-cnt {
  height: 3rem;
  transition: all ease-in .3s;
}

.card-arrow-cnt svg {
  height: 100%;
  width: auto;
}



/* --------------- Read more MODAL ----------------*/
#modal-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.45);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
  backdrop-filter: blur(12px);
}

#expansion-container {
  position: absolute;
  bottom: 0;

  height: 95vh;
  width: 100vw;

  display: none;
  flex-direction: column;
  align-items: flex-start;

  flex-shrink: 0;

  border-radius: 1rem 1rem 0 0;
  background-color: #212121;
  z-index: 9999;
}


#modal-close-container {
  display: flex;
  padding: 3rem 3rem;
  justify-content: flex-end;
  align-items: center;
  align-self: stretch;
}

#modal-close-icon {
  cursor: pointer;
  display: inline-block;
  width: 3rem;
  height: 3rem;
}


#modal-close-icon::before, #modal-close-icon::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 3rem;
  background-color: white;
}

#modal-close-icon::before {
  transform: rotate(45deg);
}

#modal-close-icon::after {
  transform: rotate(-45deg);
}


#modal-content{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  padding: 0 10% 4rem 10%;
  scrollbar-color: white transparent;
  overflow-y: auto;
}

#modal-t-sbt-cnt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  align-self: stretch;
}

#modal-title {
  align-self: stretch;
  color: white;
  color: var(--BolDH-White-Logo-Text, #F2F2F2);
  font-family: SequelLight;
  font-size: 4rem;
  font-style: normal;
  font-weight: 350;
  line-height: 110%; 
}

#modal-sbt {
  align-self: stretch;
  color: var(--BolDH-White-Logo-Text, rgba(242, 242, 242, 0.8));
  font-family: SequelLight;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 350;
  line-height: 120%; /* 2.4rem */
  letter-spacing: 0.04rem;
}

#modal-tag-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
}

#modal-division-type-cnt {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 0.75rem;
}

.modal-tag {
  padding: 0.375rem 0.75rem;
  color: var(--BolDH-White-Logo-Text, #F2F2F2);
  font-family: SequelLight;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 350;
  line-height: 150%;
  letter-spacing: 0.025rem;
  border-left: 2px solid var(--BolDH-White-Logo-Text, #F2F2F2);
  text-transform: capitalize;
}

.modal-date-active {
  border-left: 2px solid var(--BolDH-Accent-1, #32C3A0);
  text-transform: none !important;
}

.modal-date-concluded {
  border-left: 2px solid var(--BolDH-Accent-2, #E03800);
  text-transform: none !important;
}

.bold-text {
  letter-spacing: 0.05rem;
  font-family: Sequel;
}


#tag-e-type {
  text-transform: uppercase;
}

#modal-img-cnt {
  width: 50%;
}

#modal-img-cnt img {
  width: 100%;
  height: auto;
}


#modal-main-cnt {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: 1.5rem;
}


.modal-text {
  color: rgba(242, 242, 242, 0.8);
  /* BolDH/Body - Sequel */
  font-family: SequelLight;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 350;
  line-height: 150%; /* 1.875rem */
  letter-spacing: 0.025rem;
}

#modal-link-group {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 1.5rem;
  align-self: stretch;
  flex-wrap: wrap;  
}










#modal-download-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1.5rem;  
}





/* --------------- TEMPORARY HIDDEN ----------------
#news-section {
  display: none;
}

#agenda-section {
  display: none;
}

#news-button {
  display: none;
}

#agenda-button {
  display: none;
}

*/


/* --------------- CONTACTS SECTION ----------------*/


.contacts-section {
  width: 100%;
  margin: 0;
  padding: 0;
  align-items: center;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 300px;
  padding-top: 200px;
  transition: all 1s linear;
}

.contacts-title-container {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  padding-bottom: 50px;
  justify-content: flex-end;
}

.contacts-subtitle {
color: white;
  margin:0;
  font-size: 30px;
  font-family: Founders;
  font-weight: normal;
  cursor:default;
}

.contacts-main-title {
color: white;
font-family: Sequel;
font-size: 150px;  
margin: 0;
width: 100%;
font-weight: normal;
cursor:default;
margin-bottom: 50px;
text-align: right;
}

.contacts-title {
  font-family: SequelLight;
  font-size: 30px;
  color: white;
  font-weight: normal;
  margin: 0;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.contacts-body {
  font-family: SequelLight;
  font-size: 30px;
  color: white;
  font-weight: normal;
  margin: 0;
  cursor: pointer;
  width: 100%;
  text-align: center;
  text-align: right;
}

.credits-arrow-cnt {
  height: 30px;
  transition: all ease-in .3s;
}

.credits-arrow-cnt svg {
  height: 100%;
  width: auto;
}

.contacts-box {
  display: flex;
  justify-content: center;
  width: 100%;
  border-top: 2px solid white;
  padding: 30px 10px 30px 10px;
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
  transition: all ease-in .3s;
}


.contacts-box .credits-arrow-cnt svg path {
  transition: all ease-in .3s;
}

.contacts-box p {
  transition: all ease-in .3s;
}

.contacts-box:last-child {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 2px solid white;
}


/* --------------- FOOTER ----------------*/

.footer-section {
  background-color: rgb(11, 11, 11);
  margin: 0;
  display: flex;
  align-items: flex-end;
}

.footer-image-container {
  width: 50%;
  margin-right: 30px;
  padding: 30px;
}



.footer-copy-container p, .footer-copy-container a{
  color:white;
  font-size: 1.25rem;
  line-height: 150%;
  letter-spacing: 0.025rem;
  font-family: SequelLight;
  font-weight: normal !important;
  padding-bottom: 50px;
}

.footer-copy-container a {
  text-decoration: underline 2px #32C3A0;
  cursor: pointer;
  transition: all ease-in .3s;
}


.footer-copy-container img {
  margin-bottom: 0.5rem;
}



.footer-copy-container {
  background-color: rgb(12, 12, 12);
  width: 50%;
  padding: 30px;
  text-align: end;
}


@media (max-width: 600px) {
  .units-section {
    padding-top: 30px;
  }
  .definition-text {
    font-size: 40px;
    padding: 0px 10px 40px 30px;
    transition: all 2s;
  }
  #logo-rotate {
    transform: scale(1.1) !important;
  }
}








@media screen and (max-width: 1024px){

  #h-menu-div {
    display: flex;
  }
  
  nav {
    align-items: flex-start;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: flex-end;
    
  }

  nav ul li:not(:nth-child(1)) {
    margin-right: 0.75rem;
  }
  


}



@media (hover: hover) {

  /* ------- NAVBAR ------- */
  nav ul li a:not(a.active):hover:before {
    position: absolute;
    content: "";
    border-bottom: 2px solid var(--BolDH-Text-Grey, rgba(242, 242, 242, 0.76));;
    bottom: -0.2rem;
    transform-origin: left;
    transform:scaleX(1);
    transition: transform .3s ease-in;
  }

  /* ------- BTNS and LINKS ------- */
  .boldh-btn:hover {
    transition: all ease-in .3s;
    padding-right: 1.5rem;
  }

  .dark-boldh-btn:hover {
    border-color: var(--BolDH-White-White, #F2F2F2);
    transition: all ease-in .3s;
  }

  .light-boldh-btn:hover {
    background-color: var(--BolDH-Black-Dark3, #272727);
    color: var(--BolDH-White-Pure, #FFFFFF);
    transition: all ease-in .3s;
  }

  .light-boldh-btn:hover svg path {
    stroke: var(--BolDH-White-Pure, #FFFFFF);
    transition: all ease-in .3s;
  }

  .hero-boldh-btn:hover {
    transition: all ease-in .3s;
    background-color: var(--BolDH-Accent-1, #32C3A0);
  }

  .hero-boldh-btn:hover svg {
    transform: rotate(45deg);
    transition: all ease-in .3s;
  }

  .boldh-a-inline:hover {
    color: var(--BolDH-Accent-1, #32C3A0);
    transition: transform .3s ease-in;
  }

  .boldh-a-inline:hover:before {
    position: absolute;
    content: "";
    width: 100%;
    border-bottom: 2px solid var(--BolDH-Accent-1, #32C3A0);
    bottom: -0.2rem;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in;
  }





  .research-topic-title:hover {
    color: black;
    background-color: white;
    position: relative;
}

  .research-topic:hover .research-topic-title {
    color: black;
    background-color: white;
    position: relative;
  }

  .research-topic:hover .research-topic-description {
    display: block;
  }

  .division-call-to-action:hover {
    border: 20px solid black;
    border-radius: 50px;
  }

  .card-box:hover {
    transition: all .3s ease-in;
    background-color: var(--BolDH-Black-Dark3, #272727);
    border-color: var(--BolDH-Accent-1, #32C3A0);
  }
  
  .card-box-concluded:hover {
    transition: all .3s ease-in;
    border-color: var(--BolDH-Accent-2, #DD5423);
  }
  
  .card-box-concluded:hover .card-arrow-cnt, .card-box:hover .card-arrow-cnt {
    margin-left: 1.2rem;
    transition: all .3s ease-in;
  }
  
  .agenda-box:hover {
    transform: scale(1.01);
    }
  


  .footer-copy-container a:hover {
    text-decoration: none;
    color: #32C3A0;
    transition: all ease-in .3s;
  }

  .contacts-box:hover {
    transition: all ease-in .3s;
    background-color: white;
  }

  .contacts-box:hover p{
    color: #32C3A0;
    transition: all ease-in .3s;
  }
  
  
  .contacts-box:hover .credits-arrow-cnt svg path {
    stroke: #32C3A0!important;
    transition: all ease-in .3s;
  }
  

}

